n8n_worflows/cert-in-auto-vuln-scanner_v3.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "command": "=docker run --rm \\\n  -v n8n_data:/data \\\n  vuln-tools \\\nnmap {{$json.Subnets}} -p 21,22,23,80,443,445,3389,1433,25,135,139,1801,8080 --open -Pn -T4 -oX /data/result.xml"
      },
      "name": "nmap_scan",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        -1632,
        720
      ],
      "typeVersion": 1,
      "id": "77f956c7-5b87-49fa-89b7-7643d522c2b2",
      "executeOnce": false,
      "notesInFlow": false,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "functionCode": "const ip = $json.ip;\nconst ports = $json.open_ports || [];\n\nreturn ports.map(port => ({\n  json: {\n    ip,\n    port: parseInt(port)  // Ensure number for comparison\n  }\n}));"
      },
      "name": "generate_open_port_item",
      "type": "n8n-nodes-base.function",
      "position": [
        -704,
        704
      ],
      "typeVersion": 1,
      "id": "67f55d52-36a0-4d44-87b3-95a2f6fb418c",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.port }}",
                    "rightValue": 21,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "b36c2e7e-10c0-4cd2-9eaf-1b794a3f7212"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FTP_Branch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e39144bd-cacd-41b8-ac60-9869388513b6",
                    "leftValue": "={{ $json.port }}.toString()",
                    "rightValue": "=22",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SSH_Branch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0e88979c-ea1a-4b43-8d81-443620f8d0e8",
                    "leftValue": "={{ $json.port }}.toString()",
                    "rightValue": "23",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Telnet_Branch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "df203a5f-9dd1-43c1-91d3-da7f02524830",
                    "leftValue": "={{ $json.port }}.toString()",
                    "rightValue": "25",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SMTP_Branch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ec2f8512-531b-4b64-969f-66bc3a79695a",
                    "leftValue": "={{ $json.port }}",
                    "rightValue": 80,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTTP_Branch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "87cfb63a-5860-4634-ab58-06ecaca942f9",
                    "leftValue": "={{ $json.port }}",
                    "rightValue": 21,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RouterSpolit_Branch"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -480,
        400
      ],
      "id": "6115cba8-28fe-4eb7-9a7d-36f932f6378a",
      "name": "Switch",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=docker run --rm \\\n  --network msf-net \\\n  -e MSF_DB_HOST=msf-postgres \\\n  -v n8n_data:/home/node/.n8n \\\n  vuln-tools \\\n  sh -c ' \\\n    mkdir -p '/home/node/.n8n/scans/{{ $('Execution Data').item.json.Subnets.replace(/\\./g, '_').replace('/', '_') }}/ftp' && \\\n    echo \"\\n===== Scanning {{$json.ip}} =====\" >> /home/node/.n8n/scans/{{ $('Execution Data').item.json.Subnets.replace(/\\./g, '_').replace('/', '_') }}/ftp/{{$json.ip}}.txt && \\\n    msfconsole -q -x \"workspace {{ $('Execution Data').item.json.Subnets.replace(/\\./g, '_').replace('/', '_') }}; use auxiliary/scanner/ftp/ftp_version; set RHOSTS {{$json.ip}}; run; exit\" \\\n    >> /home/node/.n8n/scans/{{ $('Execution Data').item.json.Subnets.replace(/\\./g, '_').replace('/', '_') }}/ftp/{{$json.ip}}.txt'\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1a6321d0-96eb-4526-b705-ee1c9d1cbfd7",
      "name": "FTP_Scan",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=docker run --rm \\\n  --network msf-net \\\n  -e MSF_DB_HOST=msf-postgres \\\n  -v n8n_data:/home/node/.n8n \\\n  vuln-tools \\\n  sh -c ' \\\n    mkdir -p /home/node/.n8n/scans/{{$json.workspace}}/ssh && \\\n    echo \"\\n===== Scanning {{$json.ip}} =====\" >> /home/node/.n8n/scans/{{$json.workspace}}/ssh/{{$json.ip}}.txt && \\\n    msfconsole -q -x \"workspace {{$json.workspace}}; use auxiliary/scanner/ssh/ssh_version; set RHOSTS {{$json.ip}}; run; exit\" \\\n    >> /home/node/.n8n/scans/{{$json.workspace}}/ssh/{{$json.ip}}.txt'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "96afb015-4325-4d71-af5f-5f2cf8da5a2b",
      "name": "SSH_Scan"
    },
    {
      "parameters": {
        "command": "=docker run --rm \\\n  --network msf-net \\\n  -e MSF_DB_HOST=msf-postgres \\\n  -v n8n_data:/home/node/.n8n \\\n  vuln-tools \\\n  sh -c ' \\\n    mkdir -p /home/node/.n8n/scans/{{$json.workspace}}/telnet && \\\n    echo \"\\n===== Scanning {{$json.ip}} =====\" >> /home/node/.n8n/scans/{{$json.workspace}}/telnet/{{$json.ip}}.txt && \\\n    msfconsole -q -x \"workspace {{$json.workspace}}; use auxiliary/scanner/telnet/telnet_version; set RHOSTS {{$json.ip}}; run; exit\" \\\n    >> /home/node/.n8n/scans/{{$json.workspace}}/telnet/{{$json.ip}}.txt'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        400
      ],
      "id": "179bc2d8-99ff-41a5-87ec-810a1ce7a59d",
      "name": "Telnet_Scan"
    },
    {
      "parameters": {
        "command": "=docker run --rm \\\n  --network msf-net \\\n  -e MSF_DB_HOST=msf-postgres \\\n  -v n8n_data:/home/node/.n8n \\\n  vuln-tools \\\n  sh -c ' \\\n    mkdir -p /home/node/.n8n/scans/{{$json.workspace}}/smtp && \\\n    echo \"\\n===== Scanning {{$json.ip}} =====\" >> /home/node/.n8n/scans/{{$json.workspace}}/smtp/{{$json.ip}}.txt && \\\n    msfconsole -q -x \"workspace {{$json.workspace}}; use auxiliary/scanner/smtp/smtp_relay; set RHOSTS {{$json.ip}}; run; exit\" \\\n    >> /home/node/.n8n/scans/{{$json.workspace}}/smtp/{{$json.ip}}.txt'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        608
      ],
      "id": "ccab7352-7ae7-4849-844c-4e7e32667c28",
      "name": "Smtp_scan"
    },
    {
      "parameters": {
        "command": "=docker run --rm \\\n  --network msf-net \\\n  -e MSF_DB_HOST=msf-postgres \\\n  -v n8n_data:/home/node/.n8n \\\n  vuln-tools \\\n  sh -c ' \\\n    mkdir -p /home/node/.n8n/scans/{{$json.subnet}}/http && \\\n    echo \"\\n===== Scanning {{$json.ip}} =====\" >> /home/node/.n8n/scans/{{$json.subnet}}/http/{{$json.ip}}.txt && \\\n    msfconsole -q -x \"workspace {{$json.subnet}}; use auxiliary/scanner/http/http_version; set RHOSTS {{$json.ip}}; set RPORT 80; run; exit\" \\\n    >> /home/node/.n8n/scans/{{$json.subnet}}/http/{{$json.ip}}.txt'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        800
      ],
      "id": "a03c5eb3-8fa3-4346-aa9f-0772a92a39d2",
      "name": "Http_scan",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=docker run --rm \\\n  -v n8n_data:/home/node/.n8n \\\n  vuln-tools \\\n  sh -c 'rsf.py -m scanners/autopwn -s target={{ $json.ip }} -x > /home/node/.n8n/autopwn_result.txt'\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        1008
      ],
      "id": "ad8c16fa-587a-4bbd-8406-c2e2b502f013",
      "name": "RouterSploit_scan"
    },
    {
      "parameters": {
        "functionCode": "const output = [];\nconst stdout = $json.stdout;\n\n// Split by each \"Nmap scan report\" block\nconst hostBlocks = stdout.split(/Nmap scan report for /).slice(1);\n\nfor (const block of hostBlocks) {\n  const lines = block.trim().split('\\n');\n\n  const ipMatch = lines[0].match(/\\(?(\\d{1,3}(?:\\.\\d{1,3}){3})\\)?/);\n  if (!ipMatch) continue;\n\n  const ip = ipMatch[1];\n  const open_ports = [];\n  const closed_ports = [];\n\n  for (const line of lines) {\n    const portMatch = line.match(/^(\\d+)\\/tcp\\s+(\\w+)/);\n    if (portMatch) {\n      const port = portMatch[1];\n      const state = portMatch[2];\n      if (state === 'open') open_ports.push(port);\n      else if (state === 'closed') closed_ports.push(port);\n    }\n  }\n\n  output.push({\n    json: {\n      ip,\n      open_ports,\n      closed_ports\n    }\n  });\n}\n\nreturn output;"
      },
      "name": "Check Open ports1",
      "type": "n8n-nodes-base.function",
      "position": [
        -1392,
        576
      ],
      "typeVersion": 1,
      "id": "5784d5bd-1f52-43ee-ba82-be631610a6da",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3d2f8ada-f9f5-49a9-b24b-243ca8be0372",
              "leftValue": "={{ $json.open_ports.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1184,
        720
      ],
      "id": "2d203f34-0eb3-4bcf-9563-c46e97e07582",
      "name": "If",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -928,
        576
      ],
      "id": "b5a074b0-a82f-47a3-9825-39db47c0bd01",
      "name": "Loop Over Items1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "formTitle": "Vuln Scanner",
        "formDescription": "Vulnerabilities and get a detailed report",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Subnets",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".xlsx",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "a4359ad3-d6fd-4a54-a470-f023970d6c1d",
      "name": "Landing Page Url",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -2400,
        320
      ],
      "webhookId": "afe067a5-4878-4c9d-b746-691f77190f54",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "Subnets",
        "destinationKey": "subnets",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2112,
        320
      ],
      "id": "380149b4-2a0a-4652-bfd0-509c0ecc9f9e",
      "name": "Extract from File",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "Subnets",
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2112,
        512
      ],
      "id": "01df8e78-a396-4c40-b68f-9e758d8bc5d0",
      "name": "Extract from File1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        368,
        1008
      ],
      "id": "5726f7df-fefb-4a53-9bda-7577b70f98c2"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1904,
        512
      ],
      "id": "8c12edbd-9f96-469c-b04f-d2d43e016eb8",
      "name": "for_each_subnets"
    },
    {
      "parameters": {
        "command": "=docker run --rm --network msf-net -e MSF_DB_HOST=msf-postgres -v n8n_data:/home/node/.n8n vuln-tools connect_msf.sh {{ $json.Subnets.replace(/\\./g, '_').replace('/', '_') }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1632,
        256
      ],
      "id": "5b03b11b-e171-4ada-910d-0d7c7ed10052",
      "name": "metaspliot_create_ws",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "subnet",
              "value": "={{ $json.Subnets.replace(/\\./g, '_').replace('/', '_') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -1632,
        464
      ],
      "id": "09fe0c9e-cd21-42ba-a2a6-996a6a6ba10c",
      "name": "Execution Data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=docker run --rm \\\n  --network msf-net \\\n  -v n8n_data:/home/node/.n8n \\\n  vuln-tools \\\n  sh -c \"msfconsole -q -x \\\"workspace {{ $('Execution Data').item.json.Subnets.replace(/\\./g, '_').replace('/', '_') }}; use auxiliary/scanner/ftp/ftp_version; set RHOSTS {{$json.ip}}; run; exit\\\"\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        -176
      ],
      "id": "ea350e34-b39f-412d-befb-1b809879484b",
      "name": "FTP_Scan1",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "nmap_scan": {
      "main": [
        [
          {
            "node": "Check Open ports1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate_open_port_item": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "FTP_Scan1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SSH_Scan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telnet_Scan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Smtp_scan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Http_scan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RouterSploit_scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Open ports1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "generate_open_port_item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Landing Page Url": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        []
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "for_each_subnets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "for_each_subnets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "for_each_subnets": {
      "main": [
        [],
        [
          {
            "node": "nmap_scan",
            "type": "main",
            "index": 0
          },
          {
            "node": "metaspliot_create_ws",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "31908221-f8d9-4940-a848-82a8c6fdad2b",
  "meta": {
    "instanceId": "0bd9135acd6919651931cfd763415a25f8e954cfb685fea7ccd7dc5b8b946aa3"
  },
  "id": "I2DcPLzERhXMMcVX",
  "tags": []
}